#simple-translate {
  all: initial;
  & > div {
    all: initial;
  }
  position: absolute;

  background-color: white; /* Solid white background */
  border: 1px solid #d7d7db; /* Greyish border */
  color: black; /* Black text */
}

.simple-translate-light-theme {
  background-color: white; /* Solid white background */
  color: black; /* Black text */
}

.simple-translate-dark-theme {
  background-color: #181818; /* Dark background */
  color: #e6e6e6; /* Light text */
}

.simple-translate-system-theme {
  background-color: white; /* Solid white background */
  color: black; /* Black text */
}

@media (prefers-color-scheme: dark) {
  .simple-translate-system-theme {
    background-color: #181818; /* Dark background */
    color: #e6e6e6; /* Light text */
  }
}
