.listenButton {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  svg {
    height: 16px;
    width: 16px;
    fill: grey;
    &:hover {
      fill: black;
    }
  }
}
