#resultArea {
  max-height: 240px;
  min-height: 30px;
  overflow-y: auto;
  word-wrap: break-word;
  background-color: white; /* Solid white background */
  margin: 10px 10px 3px;
  border: 1px solid #d7d7db; /* Greyish border */
}

#resultArea p {
  margin: 0;
  padding: 0px 5px;
  background-color: white; /* Matching background color */
}

#resultArea p.resultText {
  color: black; /* Black text color */
}

#resultArea p.candidateText,
#resultArea p.error {
  color: #737373; /* Greyish text color */
  margin-top: 1em;
}

#resultArea p.candidateText:empty,
#resultArea p.error:empty {
  margin-top: 0;
}

#resultArea .translateLink a {
  font-style: normal;
  text-decoration: none;
  color: #5595ff; /* Highlight color */
  cursor: pointer;
}

#resultArea .translateLink a:hover {
  text-decoration: underline;
}

#resultArea .mediaButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1em;
  margin-inline-end: 5px;
}

#resultArea .mediaButtons > * {
  margin-inline-start: 10px;
}
